[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
autopep8 = "*"

[packages]
numpy = "*"
kaggle = "*"
matplotlib = "*"
pillow = "*"
pydicom = "==1.4.2"
pandas = "*"
opencv-python = "==4.2.0.32"

[requires]
python_version = "3.6"
